---
title: Test reporting template
---

<h2 id="sites">Sites components</h2>

<table class="table">
  <thead>
    <tr>
      <th>Technical name</th>
      <th>Latest <abbr title="Accessibility Conformance Report">ACR</abbr></th>
      <th>Assessment (All)</th>
      <th>ACR (All)</th>
    </tr>
  </thead>
  <tbody>
    {% for component in site.data.a11yComponents %}  
      <tr>
        <th>{{ component.name }}</th>
        <td>None</td>
        <td>
          <ul>
            {% for assessment in component.a11y %}
              <li>
                <a href="{{ assessment.link }}">
                  {{ assessment.date }} - {{ assessment.state }} 
                  {% if assessment.isPartial %}
                    ( Partial )
                  {% endif %}
                </a>
              </li>
            {% else %}
              <li>None</li>
            {% endfor %}
          </ul>
        </td>
        <td>None</td>
      </tr>
    {% endfor %}
  </tbody>
</table>


<section class="wb-tagfilter provisional">
<h2 id="testReq">Test requirement</h2>

<!-- Tag filter for each Component 

{
  allComponents: [ "" ],
  list = [
    {
      id: "Test Requirement ID",
      component: [
        {
          name: "Component Name"
          a11y: [
            { date: "date", link: "link", outcome: "outcome" }
          ]
        }
      ]
    }
  ]

-->


<details>
	<summary>Filtering by components option</summary>
<ul class="list-unstyled">
{% for component in site.data.a11yTestRequirement.allComponents %}  
  <li class="checkbox">
    <label>
				<input type="checkbox" name="component" class="wb-tagfilter-ctrl" value="{{ component }}">{{ component }} 
		</label>
  </li>
{% endfor %}
</ul>
</details>

<dl class="dl-horizontal dl-max">
  {% for testRequirement in site.data.a11yTestRequirement.list %}  
    <dt>{{ testRequirement.id }}</dt>
    {% for component in testRequirement.components %}
      <dd data-wb-tags="{{ component.name }}">
        <section>
          <h3 class="h5">{{ component.name }}</h3>
          <ul>
            {% for assessment in component.a11y %}
              <li><a href="{{ assessment.link }}">{{ assessment.date }} - {{ assessment.outcome }}</a></li>
            {% else %}
              <li>None</li>
            {% endfor %}
          </ul>
        </section>
      </dd>
    {% endfor %}
  {% endfor %}
</dl>


  </section>
